
body {
    font-family: Arial, sans-serif;
    background-color:darkgray;
    
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  
  label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    display:block;
  }
  
  input[type="text"] {
    padding: 10px;
    display:block;
    margin-top: 5px;;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid#ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    justify-content: left;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #forecast-info {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    font-size: 15px;
    font-weight:bold;
    flex-wrap:wrap;
  }

  .forecast__item {
    font-size: 15px;
    background-color: #4CAF50;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    flex-basis:20%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .forecast__item:first-child  {
    background-color: white;
    flex-basis: 80%;

  }
  #search-history button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
